{% extends 'django_site/wrapper.html'%}
{% load static %}

{% block title %}
main
{% endblock %}

{% block style %}
    <link rel="stylesheet" href={% static "cipher/style.css" %}>
{% endblock %}

{% block content %}
<form action="/cipher/" method="POST">
    {% csrf_token %}
    <br>
    <div class="button_position">
        <button class="btn btn-primary" type="submit" name="btn_click" value="1">Cipher</button>
        <button class="btn btn-info" type="reset">Reset</button>
        <button class="btn btn-secondary" type="submit" name="btn_clear" value="1">Clear</button>
    </div>
    <div class="form-group">
        <label for="StartText">Enter start text</label>
        <textarea id="StartText" class="form-control" rows="3" name="decipher_text">{{decipher_text}}</textarea>
    </div>
    <hr>
    <div class="button_position">
        <button class="btn btn-primary" type="submit" name="btn_click" value="2">Decipher</button>
        <button class="btn btn-info" type="reset">Reset</button>
        <button class="btn btn-secondary" type="submit" name="btn_clear" value="2">Clear</button>
    </div>
    <div class="form-group">
        <label for="CipherTxt">Enter cipher text</label>
        <textarea id = "CipherTxt" class="form-control" rows="3" name="cipher_text">{{cipher_text}}</textarea>
    </div>
</form>
{% endblock %}